*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color-scheme: dark;
}

body {
    background-color: #121212;
    color: #f2f2f2;
    padding: 1rem;
    font-family: sans-serif;
}

.onload {
    display: none;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.onload.show {
    display: flex;
}

.source-form {
    width: 100%;
    max-width: 22.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: flex-start;
}

.button {
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 0.5rem;
    background-color: #f2f2f2;
    color: #121212;
}

.input {
    width: 100%;
}

.input[type="file"] {
    box-shadow: 0 0 0 0.0625rem #4d4d4d inset;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
